<!DOCTYPE html>

<html lang="en" xmlns="http://www.w3.org/1999/xhtml">
	<head>
	<meta charset="uft-8">
	<title>
		Car Lot Manager 3000
	</title>
	<link rel="stylesheet" href="/public/css/style.css" media="screen">
	</head>
	<body>
		<nav> 
			<p> <a href = "/public/static/index.html">Menu</a> </p>
		</nav>
		{{{body}}}
	</body>
</html>
<script src="/public/js/app.js"></script>