<h1>{{title}} </h1>
<p>{{pageEx}}</p>

<div class="formCont">
	<ul>
	<li>Dealer:<input id="dealer" type="text"></li>
	<li>Make:<input id="make" type="text"></li>
	<li>Model:<input id="model" type="text"> </li>
	<li>Year:<input id="year" type = "text"></li>
	<li>Color:<input id="color" type="text"></li>
	<li>MSRP:<input id="msrp" type="text"></li>
	<li>NEW(yes or no):<input id="isnew" type="text"></li>
	<li> <button  onclick="addCar();">Submit</button>
	</ul>
</div>