<main>
		<h1>
			Tools
		</h1>
		<h2> Sales Analysis Tools</h2>
		<ul>
			<li> <a href="Sales_by_dealership.html">Sales By Car dealership</a></li>
			<li><a href="number_by_employee.html">Sales By Employee by Number of sales</a></li>
			<li><a href="efficentcy.html"> Employee Preformance Based on Final Sales Price</a></li>
		</ul>	
		
		<h2>Inventory Tools</h2>
			<ul>
				<li><a href="all_cars.html"> All Dealer Cars </a> </li>
				<li><a href="car_by_lot.html"> Number of Cars by lot</a></li>
				<li><a href= "inventory_by_lot.html">Inventory for a specific lot</a></li>
				<li><a href="new.html">Cars New</a></li>
				<li><a href="used.html"> Cars Used</a></li>
				<li><a href ="addCar.html"> Add Car </a> </li>
			</ul>
				
		<h2>HR tools</h2>
			<ul>
				<li><a href="byhiredate.html"> Employee's by Hire Date </a></li>
				<li><a href="newhireform.html"> New Hire Paper Work </a></li>
				<li><a href="fireemployee.html"> Fire An Employee </a></li>
			</ul>
			
		<h2> Sales Person Tools </h2>
			<ul>
				<li> <a href="salesform.html"> Write up a sale</a> </li>
			</ul>
			
</main>