<h1> {{title}} </h1>
<p> {{pageEx}}</p>

<div class="formCont">
	<ul>
		<li>Dealer:<input id="dealer" type="text"></li>
		<li>First Name:<input id="fname" type="text"></li>
		<li>Last Name:<input id="lname" type="text"> </li>
		<li>Position:<input id="position" type = "text"></li>
		<li>Address:<input id="address" type="text"></li>
		<button onclick="addEmployee();"> Submit </button>
	</ul>
</div>